.white-color {
  color: #fff;
}

.blue-background {
  background-color: #122d99;
}

.change-text-bg-blue {
  background-color: #2438cd;
}

.change-text-bg-blue:hover {
  color: #fff;
  background-color: #0606cc;
}

h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.hot-image-class {
  margin: 3rem auto;
}